{{- if (exists "/config/agent/key")}} 
agent.auto.register.key="{{getv "/config/agent/key"}}"
{{- end}}
{{- if ge (len "/config/agent/resource") 1 }}
agent.auto.register.resources="{{join (getvs "/config/agent/resource/*") ","}}"
{{- end}}
{{- if ge (len "/config/agent/environment") 1 }}
agent.auto.register.environments="{{join (getvs "/config/agent/environment/*") ","}}"
{{- end}}
{{- if getenv "SCHEDULER_CONTAINER_NAME"}}
agent.auto.register.hostname="{{getenv "SCHEDULER_CONTAINER_NAME"}}"
{{- else}} 
    {{- if (exists "/config/agent/name")}}
agent.auto.register.hostname="{{getv "/config/agent/name"}}"
    {{- end}}
{{- end}}