#!/usr/bin/with-contenv sh

# Config GoCD Agent
export AGENT_WORK_DIR="{{getv "/config/workdir" "/data"}}"
export LOG_DIR="{{getv "config/logdir" "/data/logs"}}"
{{- if (exists "/config/memory")}}
export AGENT_MAX_MEM={{getv "/config/memory"}}
{{- end}}

export GO_SERVER_URL={{getv "/config/serverurl" "https://gocd-server:8154/go"}}


if [ ! -d "${SERVER_WORK_DIR}/logs" ]; then
    mkdir -p "${SERVER_WORK_DIR}/logs"
    chown -R gocd:gocd "${SERVER_WORK_DIR}/logs"
fi

su ${USER} -c "${APP_HOME}/agent.sh"

